.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  app-line-graph {
    width: 100%;
    box-shadow: 0 0 5px 3px #0000001a;
    margin: 8px;
    padding: 10px;
    border-radius: 4px;

    @media screen and (min-width: 960px) {
      min-width: 400px;
      width: 48%;
    }
  }
}
