.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  app-line-graph {
    width: 100%;
    border: 1px solid;
    margin: 8px;
    padding: 10px;
    box-sizing: border-box;

    @media screen and (min-width: 960px) {
      min-width: 400px;
      width: 48%;
    }
  }
}
